// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"


@font-face {
    font-family:FontAwesome;
    src:url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.eot?#iefix) format('eot'), url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.woff) format('woff'), url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.ttf) format('truetype'), url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.svg#FontAwesome) format('svg');
    font-weight:400;
    font-style:normal;
}
.logo {
    padding:10px;
    color:#fff;
    font-family:sans-serif;
    transition:all 0.4s ease;
}
.menu {
    position:absolute;
    padding:30px 0;
    font-size:2em;
    top:0;
    right: 10%;
    z-index: 10000;
    transition:all 0.4s ease;
}
header {
    background:salmon;
    height:100px;
    width:100%;
    top:0;
    left:0;
    position:fixed;
    transition:all 0.4s ease;
}
header.sticky {
    height:60px;
}
body {
}

.container{
 padding:70px 0;
  width:1100px;
}

background{
height:480px;
            background:#007fd5;
            position:relative;
            overflow:hidden;
            -webkit-animation:sky_background 50s ease-out infinite;
            -moz-animation:sky_background 50s ease-out infinite;
            -o-animation:sky_background 50s ease-out infinite;
            -webkit-transform:translate3d(0,0,0);
            -moz-transform:translate3d(0,0,0);
            -o-transform:translate3d(0,0,0)
}

@keyframes bgscroll {
  to {background-position: 1920px 0;}
  /* 1920px is the width of the background image*/
}

@-webkit-keyframes bgscroll {
  to {background-position: 1920px 0;}
  /* 1920px is the width of the background image*/
}